Repository awesome-examples/dateandtime, pull requests merged in 2018-10, with the labels that each got.

#6 different python datetime representations
  python/datetime.py
Labels: awaiting review, type: python

#5 Added dateandtime.php and modified README.md
  README.md
  php/dateandtime.php
Labels: type: php

#7 Add Go
  go/date.go
Labels: type: go

#8 C++
  README.md
  cplusplus/date.cpp
Labels: type: c++

#9 Added java UTC example
  README.md
  java/datetime_utc.java
Labels: type: java

#11 added a java version
  java/date.java
Labels: type: java

#10 Add Batch
  batch/time.bat
Labels: type: batch

#19 Add dart dateTime API example
  dart/dateandtime.dart
Labels: type: dart

#13 Added Kotlin Example
  README.md
  kotlin/dateTime.kt
Labels: type: kotlin

#14 Added C#
  README.md
  csharp/dateandtime.cs
Labels: type: c#

#16 Added powershell date and time
  README.md
  powershell/dateandtime.ps1
  powershell/dateandtime_utc.ps1
Labels: type: powershell

#17 Add Bash
  bash/dateandtime.sh
Labels: type: batch / shell

#18 Add elixir version
  README.md
  elixir/datetime_utc.exs
Labels: type: elixir

#21 add ocaml
  ocaml/time.ml
Labels: type: ocaml

#22 Arduino language
  README.md
  arduino/datetime.ino
Labels: type: arduino
